<%- include("partials/header") -%>

<div class="blogPosts">
    <h1>BLOGS</h1>
    <br><br><br>
    <% blogs.forEach(function(i) { %>
        <h2><%= i.title %></h2>
        <br>
        <p>
            <% if(i.description.length > 100){ %>
                <%= i.description.substring(0,100) + "..." %>
                <a href="/blogs/<%= i._id %>">Read more</a>
            <% } else{ %>
                <%= i.description + " . " %>
                <a href="/blogs/<%= i._id %>">Read post</a>
            <% } %>
        </p>
    <% }); %>
</div>
<%- include("partials/footer") -%>
